@charset "utf-8";


/* 共通スタイル */
div {
  /* 表示領域 */
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  margin: 1em 0;
  /* 文字 */
  color: #555;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 背景画像 */
  background-image: url("sakura.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.cover {
    background-size: cover;
}

.contain {
    background-size: contain;
}

.px {
    background-size: 200px 100 auto;
}