@charset "utf-8";

body {
    background-color: cadetblue;
}


h2 {
    background-color: #f0f0f0;
    padding: 20px;
}

h2 span {
    background-color:tomato;
    color:white;
    padding: 10px;
}

.bg-yellow {
    background-color: yellow;
    padding: 15px;
}

.bg-yellow span {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 3px;
}
.bg-transparent {
    background-color: rgba( 0, 128, 255, 0.2);
}